body {
  background: url('https://images7.alphacoders.com/688/thumb-1920-688462.jpg') no-repeat top right;
  background-size: cover;
}

.container {
  background-color: rgba(230, 230, 230, 0.6);
}

a {
  text-shadow: 1px 1px 2px black, 0 0 1em yellow, 0 0 0.2em yellow;
  color: white;
  font: 1.5em Georgia, serif;
}

label {
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  color: white;
  font: 1.5em Georgia, serif;
}

.red {
  text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em red;
  color: red;
  font: 1.5em Georgia, serif;
  padding-right: 30px;
}

.blue-red {
  text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em red;
  color: blue;
  font: 1.5em Georgia, serif;
  padding-right: 30px;
}

h1, .playball {
  font-family: 'Playball', cursive;
  font-size: 55px;
}

h2, h4 {
  font-family: 'Playball', cursive;
  font-size: 35px;
}

.yellow {
  text-shadow: 1px 1px 2px black, 0 0 1em yellow, 0 0 0.2em yellow;
  color: white;
  font: 1.5em Georgia, serif;
}

.white-red {
  text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em red;
  color: white;
  font: 1.5em Georgia, serif;
}

.menu-item {
  text-shadow: 1px 1px 2px black, 0 0 1em yellow, 0 0 0.2em yellow;
  color: white;
  font: 1.2em Georgia, serif;
}
