<!-- customer.vtl -->

<h1>$customer.getName()</h1>
<h2>Bill:</h2>
#foreach ($meal in $customer.getMeals())
  <h3>$meal.getName() - $meal.getPrice()</h3>
#end
<h2>Add to Order:</h2>
<form action="/customer" method="post">
  <input id="addToOrder" name="addToOrder" value="$meal.getId()">
  <button type="submit" class="btn btn-info">Add to Meal</button>
</form>
