<!-- customer.vtl -->

<h1>$customer.getName()</h1>

<!--
  <h2>Bill:</h2>
  #foreach ($meal in $customer.getMeals())
    <h3>$meal.getName() - $meal.getPrice()</h3>
  #end
-->
  <h2>Add a Meal</h2>

    <label>Select Meal</label>
    <select name="mealSelected">
      #foreach($meal in $meals)
        <option value="$meal.getId()">$meal.getName()</option>
      #end
    </select>
