<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant Management System</title>
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Playball" rel="stylesheet">
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class="container">
      <hr>
      <a class = "red" href="/">Home</a>
      <a class = "red" href="/menu">Menu</a>
      <a class="red" href="/aboutus">About Us</a>
      <hr>
      #parse( $template )
    </div>
  </body>
</html>
