<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant Management System</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <a href="/">Home</a>
      <a href="/menu">Menu</a>
      #parse( $template )
    </div>
  </body>
</html>
