<h1>Menu</h1>
<ul>
  #foreach ($item in $menu)
    <li><a href="/menu/$item.getId()">$item.getName()</a> - &#36; $item.displayTwoDecimals()</li>
  #end
</ul>

<h2>Add New Meal:</h2>
<form action="/menu/new" method="post">
  <label for="name">Meal:</label>
  <input id="name" name="name">
  <label for="price">Price:</label>
  <input id="price" name="price">
  <button type="submit" class="btn btn-success">Add New Meal</button>
</form>
